/* control panel */
:root {
    --crt: off;
    --crt-transparency: 0.2;
    --crt-speed: 5s;
    --crt-blur: 0.4px;
}

/** bodge number 1: secure contain protect
* this makes sure stuff doesnt overdraw
* this will break fixed elems, so if we ever do a one, uh we hwill have to disable that specific contain
*/
.members_c8ffbb,
.guilds_c48ade,
.chatContent_f75fb0,
.sidebarList_c48ade,
.layerContainer_da8173,
.app__160d8 {
    contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
    contain: paint !important;
}


@container style(--crt: on) {
    body::after {
        /* element */
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        pointer-events: none;
        background: linear-gradient(to top,
                rgb(0 0 0 / var(--crt-transparency)),
                rgb(0 0 0 / var(--crt-transparency)),
                transparent, transparent);
        background-size: 100% 6.5px, cover;
        mask-image: radial-gradient(circle at center,
                black 60%,
                rgb(0 0 0 / 0.5));
        backdrop-filter: blur(0.4px);
        /* background */
        filter: blur(var(--crt-blur));

        /* animation */
        animation: scanlines infinite var(--crt-speed) linear;
    }

    @keyframes scanlines {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 0 -10px;
        }
    }

    body::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        pointer-events: none;
        backdrop-filter: blur(5px);
        mask-image: radial-gradient(circle at center, transparent 75%, black);
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -65px;
    }
}

li.messageListItem__5126c[id$="7"] .messageContent_c19a55 {
    background: linear-gradient(-90deg, rgb(255, 220, 66),
            rgb(255, 234, 142),
            rgb(255, 220, 6),
            rgb(255, 234, 142),
            rgb(255, 220, 66));
    background-size: 200% 100%;
    animation: horizontalGradient 2s linear infinite;

    .messageContent_c19a55 {
        font-family: serif;
        font-weight: 600;
        filter: drop-shadow(2px 2px 2px black);
    }

    &::after {
        content: "gold message!";
        font-family: serif;
        /* font-weight: 600; */
        filter: drop-shadow(2px 2px 2px black);
        color: var(--interactive-normal);
        font-size: 0.7rem;
        line-height: 2;
        margin-left: var(--custom-message-margin-left-content-cozy);
    }
}

@keyframes horizontalGradient {
    0% {
        background-position: 100% 100%;
        box-shadow: inset 0px 0px 10px rgb(184, 157, 40);
    }

    50% {
        box-shadow: inset 0px 0px 10px transparent;
    }

    100% {
        background-position: 0% 10%;
        box-shadow: inset 0px 0px 10px rgb(184, 157, 40);
    }
}


li.messageListItem__5126c[id$="6"] .messageContent_c19a55 {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));

    box-shadow: inset 0px 0px 10px rgb(255, 255, 255, 0.5);
    color: white !important;

    .messageContent_c19a55 {
        filter: drop-shadow(2px 2px 2px black);
    }

    &::after {
        content: "glass message";
        /* font-weight: 600; */
        filter: drop-shadow(2px 2px 2px black);
        color: var(--interactive-normal);
        font-size: 0.7rem;
        line-height: 2;
        margin-left: var(--custom-message-margin-left-content-cozy);
    }
}

/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.contents_c19a55>.messageContent_c19a55 {
    background-color: rgb(255, 246, 244);
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 14px !important;
    border-radius: 10px;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: normal;
    color: black !important
}

.message__5126c,
.contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
}

.buttonContainer_c19a55 .container__040f0 {
    right: 20px;
}

.reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
}


.messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;

    .message__5126c {
        /* padding-left: 100%; */
        padding-right: var(--custom-message-margin-left-content-cozy) !important;

        .contents_c19a55 {
            justify-items: end;
        }

        .avatar_c19a55 {
            left: auto !important;
            right: var(--custom-message-margin-horizontal);
        }

        .avatarDecoration_c19a55 {
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        }

        .container_b7e1cb>* {
            justify-self: end !important;
            align-self: end !important;
        }

        .visualMediaItemContainer_f4758a {
            width: auto;
        }

        .contents_c19a55 {
            justify-self: end;
        }

        &.hasReply_c19a55 {
            padding-top: 22px;
        }

        .repliedMessage_c19a55 {
            position: absolute;
            flex-direction: row-reverse;
            top: 0px;
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
            margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
            max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 32px);
        }

        .repliedMessageClickableSpine_c19a55 {
            right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
            left: 100%;
            border-right: var(--spine-width) solid var(--spine-default);
            border-bottom: 0 solid var(--spine-default);
            border-left: 0 solid var(--spine-default);
            border-top: 2px solid var(--spine-default);
            border-top: var(--spine-width) solid var(--spine-default);
            border-top-right-radius: 6px;
            border-top-left-radius: 0px;
        }
    }

    .buttonContainer_c19a55 {
        right: auto;
        left: 0;

        .container__040f0 {
            right: auto;
            left: 56px;
        }
    }

    .reactions__23977 {
        align-content: flex-end;
        justify-content: flex-end;
    }

}

/* bg (temp!!!!!!) */
.bg__960e4 {
    background: url(./balatrocord-background.webp) center/cover;
}

/* left tab */
.sidebar_c48ade {
    overflow: visible;

    /* Guilds */
    >.guilds_c48ade {
        background: transparent;

        /* Balatro Icon */
        .tree_ef3116 {
            .stack_dbd263 > .folderGroup__48112 .folderHeader__48112 .folderIcon__48112 > svg {
                &::after {
                    content: "";
                    position: relative;
                }

                > path {
                    display: none;
                }
            }
            
            
            .wrapper__6e9f8[data-list-item-id=guildsnav___home]>.childWrapper__6e9f8 {
            background-image: url(./assets/Jimbo.webp);
            background-color: transparent !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 75%;

            >svg {
                display: none;
            }
        }}
    }


    /* DMs and Channels */
    >.sidebarList_c48ade {
        position: relative;
        top: -32px;
        border-radius: unset;
        border: 3px solid #EA483E;
        border-top: unset;
        background: #2E3A3C;

        >.privateChannels__35e86,
        >.container__2637a {
            top: 32px;
            background: unset;

            /* DMs scroller */
            >.scroller__99e7c {
                background: unset;

                >.content_d125d2 {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    justify-content: space-evenly;

                    >div:not([class]):first-child {
                        width: 100%;
                    }

                    .channel__972a0:not(.dm__972a0) {
                        margin: 0 4px;
                        padding: unset;

                        >.linkButton__972a0 {
                            filter: drop-shadow(0px 4px 0px #944500ba);

                            >.link__972a0 {
                                padding: 8px 12px;
                                margin: 4px;
                                z-index: 2;
                                overflow: visible;
                                background: #ff9500;
                                /* thanks to the Balatro Wiki for this :3 */
                                clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);

                                .layout__20a53 {
                                    z-index: 2;
                                }

                                >.avatarWithText__972a0 {
                                    padding: 1px;

                                    >.avatar__20a53 {
                                        margin: unset;

                                        >svg {
                                            color: white;
                                            filter: drop-shadow(3px 4px 0 #00000087)
                                        }
                                    }

                                    >.content__20a53 {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    >div[role="button"],
                    .privateChannelsHeaderContainer__99e7c {
                        width: 100%;
                    }

                    >.channel__972a0.dm__972a0 {
                        width: 100%;
                    }
                }
            }
        }
    }
}




/* chat transparency */
.chatContent_f75fb0,
.chat_f75fb0 {
    background: transparent;
}

/* title stylings */
.title_f75fb0 {
    background: transparent !important;
    border: none !important;
}

.upperContainer__9293f {
    gap: 18px;

    >div {
        background: rgba(0, 0, 0, 0.25);
        padding: 8px;
        border-radius: 8px;
    }
}


.wrapper_cc5dd2 {
    background: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 3px #a6b8ce;

    &::after {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        left: -3px;
        top: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        border-radius: 13px;
        background-image: linear-gradient(to bottom, #e3f0ff 0%, #e3f0ff 50%, #586473 100%);
    }

    .childWrapper__6e9f8,
    .circleIcon__5bc7e {
        color: green;
    }
}

.wrapper__6e9f8::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 4;
    width: calc(100%);
    height: calc(100%);
    box-shadow: inset 0px 0px 0px 3px #a6b8ce;
    border-radius: 9px;
}

.icon__6e9f8 {
    scale: calc(35 / 40);
}

.lowerBadge_cc5dd2 {
    rotate: 30deg;
    box-sizing: border-box;
    color: var(--white);
    flex: 0 0 auto;
    background-color: #ea483e;
    aspect-ratio: 1;

    .numberBadge__2b1f5 {
        border-radius: 0px;
        rotate: -30deg;
        background: transparent !important;
        height: 100%;
    }
}

.svg_cc5dd2 foreignObject {
    mask: none !important;
}