/* variables */
:root {
    --crt: off;
    --crt-transparency: 0.2;
    --crt-speed: 5s;
    --crt-blur: 0.4px;
}

@font-face {
    font-family: "m6x11plus";
    src:
        local("m6x11plus"),
        url("./assets/m6x11plus.ttf") format("truetype");
    font-weight: normal;
}

/** bodge number 1: secure contain protect
* this makes sure stuff doesnt overdraw
* this will break fixed elems, so if we ever do a one, uh we hwill have to disable that specific contain
*/
.members_c8ffbb,
.guilds_c48ade,
.chatContent_f75fb0,
.sidebarList_c48ade,
.layerContainer_da8173,
.app__160d8 {
    contain: strict !important;
}

.typingDots_b88801,
.vc-typing-indicator-dots {
    contain: paint !important;
}


@container style(--crt: on) {
    body::after {
        /* element */
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        pointer-events: none;
        background: linear-gradient(to top,
                rgb(0 0 0 / var(--crt-transparency)),
                rgb(0 0 0 / var(--crt-transparency)),
                transparent, transparent);
        background-size: 100% 6.5px, cover;
        mask-image: radial-gradient(circle at center,
                black 60%,
                rgb(0 0 0 / 0.5));
        backdrop-filter: blur(0.4px);
        /* background */
        filter: blur(var(--crt-blur));

        /* animation */
        animation: scanlines infinite var(--crt-speed) linear;
    }

    @keyframes scanlines {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 0 -10px;
        }
    }

    body::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        pointer-events: none;
        backdrop-filter: blur(5px);
        mask-image: radial-gradient(circle at center, transparent 75%, black);
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -65px;
    }
}

li.messageListItem__5126c .contents_c19a55 > .messageContent_c19a55 {
    clip-path: polygon(0% 9px, 3px 9px, 3px 3px, 9px 3px, 9px 0%, calc(100% - 9px) 0%, calc(100% - 9px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 9px, 100% 9px, 100% calc(100% - 9px), calc(100% - 3px) calc(100% - 9px), calc(100% - 3px) calc(100% - 3px), calc(100% - 9px) calc(100% - 3px), calc(100% - 9px) 100%, 9px 100%, 9px calc(100% - 3px), 3px calc(100% - 3px), 3px calc(100% - 9px), 0% calc(100% - 9px));
}

li.messageListItem__5126c[id$="7"] .contents_c19a55 .messageContent_c19a55 {
    background: linear-gradient(-45deg, #ffd081,
            #ffe6bc,
            #ffd081,
            #ffe6bc,
            #ffd081, #ffe6bc);
    background-size: 200% 100%;
    animation: horizontalGradient 10s linear infinite;
    border: 4px inset #fac977;
    outline: 1px solid #af843e;

    span {
        filter: drop-shadow(0px 0px 4px #ffeed2);
    }

    /* &::after {
        content: "gold message!";
        font-family: serif;
        filter: drop-shadow(2px 2px 2px black);
        color: var(--interactive-normal);
        font-size: 0.7rem;
        line-height: 2;
        margin-left: var(--custom-message-margin-left-content-cozy);
    } */
}

@keyframes horizontalGradient {
    0% {
        background-position: 100% 100%;
        box-shadow: inset 0px 0px 2px 1px #ffeed2;
    }

    50% {
        box-shadow: inset 0px 0px 2px 1px transparent;
    }

    100% {
        background-position: 0% 10%;
        box-shadow: inset 0px 0px 2px 1px #ffeed2;
    }
}


li.messageListItem__5126c[id$="6"] .contents_c19a55 .messageContent_c19a55 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), #d1ebfc, rgba(255, 255, 255, 0.2), #d1ebfc);

    box-shadow: inset 0px 0px 10px rgb(255, 255, 255, 0.5);
    color: white !important;
    border: 2px solid #d1ebfc;

    span {
        filter: drop-shadow(2px 2px 4px black);
    }

    /* &::after {
        content: "glass message";
        filter: drop-shadow(2px 2px 2px black);
        color: var(--interactive-normal);
        font-size: 0.7rem;
        line-height: 2;
        margin-left: var(--custom-message-margin-left-content-cozy);
    } */
}

/* MESSAGES  - - - - - - - - - - - - - - - - - - - - - */
.contents_c19a55>.messageContent_c19a55 {
    background-color: #fff;
    border: 1px solid #c0c8d6;
    width: fit-content;
    margin-left: 0px !important;
    padding-left: 0px !important;
    padding: 14px !important;
    border-radius: 10px;
    box-sizing: content-box;
    max-width: 100%;
    word-wrap: normal;
    color: color-mix(in srgb, #415255, black 40%) !important
}

.message__5126c,
.contents_c19a55 {
    /* position: absolute; */
    max-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
    min-width: calc(100% - var(--custom-message-margin-left-content-cozy)) !important;
}

.buttonContainer_c19a55 .container__040f0 {
    right: 20px;
}

.reactionInner__23977[aria-label*=", 1 "] .reactionCount__23977 {
    display: none !important;
}


.messageListItem__5126c[data-is-self="true"] {
    align-items: end;
    align-content: end;
    justify-content: end;
    justify-items: end;

    .message__5126c {
        /* padding-left: 100%; */
        padding-right: var(--custom-message-margin-left-content-cozy) !important;

        .contents_c19a55 {
            justify-items: end;
        }

        .avatar_c19a55 {
            left: auto !important;
            right: var(--custom-message-margin-horizontal);
        }

        .avatarDecoration_c19a55 {
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
        }

        .container_b7e1cb>* {
            justify-self: end !important;
            align-self: end !important;
        }

        .visualMediaItemContainer_f4758a {
            width: auto;
        }

        .contents_c19a55 {
            justify-self: end;
        }

        &.hasReply_c19a55 {
            padding-top: 22px;
        }

        .repliedMessage_c19a55 {
            position: absolute;
            flex-direction: row-reverse;
            top: 0px;
            left: auto !important;
            right: calc(var(--custom-message-margin-horizontal) - var(--custom-message-avatar-decoration-size) / 2 + var(--custom-message-avatar-size) / 2);
            margin-right: calc(var(--chat-avatar-size) * 1.5 + 12px);
            max-width: calc(100% - var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 32px);
        }

        .repliedMessageClickableSpine_c19a55 {
            right: calc(var(--chat-avatar-size) / 2 * -1 + var(--gutter) * -1 - 4px);
            left: 100%;
            border-right: var(--spine-width) solid var(--spine-default);
            border-bottom: 0 solid var(--spine-default);
            border-left: 0 solid var(--spine-default);
            border-top: 2px solid var(--spine-default);
            border-top: var(--spine-width) solid var(--spine-default);
            border-top-right-radius: 6px;
            border-top-left-radius: 0px;
        }
    }

    .buttonContainer_c19a55 {
        right: auto;
        left: 0;

        .container__040f0 {
            right: auto;
            left: 56px;
        }
    }

    .reactions__23977 {
        align-content: flex-end;
        justify-content: flex-end;
    }

}

/* bg (temp!!!!!!) */
.bg__960e4 {
    background: url(./balatrocord-background.webp) center/cover;
}

/* left tab */
.sidebar_c48ade {
    overflow: visible;

    /* Guilds */
    >.guilds_c48ade {
        background: transparent;

        /* Balatro Icon */
        .tree_ef3116 {
            .wrapper__6e9f8[data-list-item-id=guildsnav___home]>.childWrapper__6e9f8 {
                background-image: url(./assets/Jimbo.webp);
                background-color: transparent !important;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 75%;

                >svg {
                    display: none;
                }
            }
        }

        .stack_dbd263>.folderGroup__48112 .folderHeader__48112 .folderIcon__48112>svg {
            overflow: visible;

            >path {
                d: path("M0 0 C1.98 0 3.96 0 6 0 C6 0.66 6 1.32 6 2 C6.66 2 7.32 2 8 2 C8 2.66 8 3.32 8 4 C8.66 4 9.32 4 10 4 C10 4.66 10 5.32 10 6 C9.34 6 8.68 6 8 6 C8 6.66 8 7.32 8 8 C9.32 8 10.64 8 12 8 C12 8.66 12 9.32 12 10 C12.66 10 13.32 10 14 10 C14 12.64 14 15.28 14 18 C13.34 18 12.68 18 12 18 C12 16.68 12 15.36 12 14 C11.34 14 10.68 14 10 14 C10 15.98 10 17.96 10 20 C9.34 20 8.68 20 8 20 C8 21.32 8 22.64 8 24 C7.34 24 6.68 24 6 24 C6 24.66 6 25.32 6 26 C7.98 26 9.96 26 12 26 C12 26.66 12 27.32 12 28 C13.32 28 14.64 28 16 28 C16 29.32 16 30.64 16 32 C16.66 32 17.32 32 18 32 C18 33.32 18 34.64 18 36 C17.34 36 16.68 36 16 36 C16 36.66 16 37.32 16 38 C15.34 38 14.68 38 14 38 C14 37.34 14 36.68 14 36 C12.68 36 11.36 36 10 36 C10 37.98 10 39.96 10 42 C9.34 42 8.68 42 8 42 C8 41.34 8 40.68 8 40 C7.34 40 6.68 40 6 40 C6 39.34 6 38.68 6 38 C5.34 38 4.68 38 4 38 C4 37.34 4 36.68 4 36 C2.68 36 1.36 36 0 36 C0 36.66 0 37.32 0 38 C-0.66 38 -1.32 38 -2 38 C-2 38.66 -2 39.32 -2 40 C-2.66 40 -3.32 40 -4 40 C-4 40.66 -4 41.32 -4 42 C-4.66 42 -5.32 42 -6 42 C-6 40.02 -6 38.04 -6 36 C-7.32 36 -8.64 36 -10 36 C-10 36.66 -10 37.32 -10 38 C-10.66 38 -11.32 38 -12 38 C-12 37.34 -12 36.68 -12 36 C-12.66 36 -13.32 36 -14 36 C-14 34.68 -14 33.36 -14 32 C-13.34 32 -12.68 32 -12 32 C-12 30.68 -12 29.36 -12 28 C-10.68 28 -9.36 28 -8 28 C-8 27.34 -8 26.68 -8 26 C-6.02 26 -4.04 26 -2 26 C-2 25.34 -2 24.68 -2 24 C-2.66 24 -3.32 24 -4 24 C-4 22.68 -4 21.36 -4 20 C-4.66 20 -5.32 20 -6 20 C-6 18.02 -6 16.04 -6 14 C-6.66 14 -7.32 14 -8 14 C-8 15.32 -8 16.64 -8 18 C-8.66 18 -9.32 18 -10 18 C-10 15.36 -10 12.72 -10 10 C-9.34 10 -8.68 10 -8 10 C-8 9.34 -8 8.68 -8 8 C-6.68 8 -5.36 8 -4 8 C-4 6.68 -4 5.36 -4 4 C-3.34 4 -2.68 4 -2 4 C-2 3.34 -2 2.68 -2 2 C-1.34 2 -0.68 2 0 2 C0 1.34 0 0.68 0 0 Z");
                transform: scale(0.75) translate(14px, -4px);
                filter: drop-shadow(0 -0.5px 0 #00000087);
            }
        }
    }


    /* DMs and Channels */
    >.sidebarList_c48ade {
        position: relative;
        top: -32px;
        border-radius: unset;
        border: 3px solid #EA483E;
        border-top: unset;
        background: #2E3A3C;

        >.privateChannels__35e86,
        >.container__2637a {
            top: 32px;
            background: unset;

            /* DMs scroller */
            >.scroller__99e7c {
                background: unset;

                >.content_d125d2 {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-content: flex-start;
                    justify-content: space-evenly;

                    >div:not([class]):first-child {
                        width: 100%;
                    }

                    .channel__972a0:not(.dm__972a0) {
                        margin: 0 4px;
                        padding: unset;

                        >.linkButton__972a0 {
                            filter: drop-shadow(0 4px 0 #944500ba);

                            >.link__972a0 {
                                padding: 8px 12px;
                                margin: 4px;
                                z-index: 2;
                                overflow: visible;
                                background: #ff9500;
                                /* thanks to the Balatro Wiki for this :3 */
                                clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);

                                .layout__20a53 {
                                    z-index: 2;
                                }

                                >.avatarWithText__972a0 {
                                    padding: 1px;

                                    >.avatar__20a53 {
                                        margin: unset;

                                        >svg {
                                            color: white;
                                            filter: drop-shadow(3px 4px 0 #00000087)
                                        }
                                    }

                                    >.content__20a53 {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    >div[role="button"],
                    .privateChannelsHeaderContainer__99e7c {
                        width: 100%;
                    }

                    >.channel__972a0.dm__972a0 {
                        width: 100%;
                    }
                }
            }
        }
    }
}




/* chat transparency */
.chatContent_f75fb0,
.chat_f75fb0 {
    background: transparent;
}

/* title stylings */
.title_f75fb0 {
    background: transparent !important;
    border: none !important;
}

.upperContainer__9293f {
    gap: 18px;

    >div {
        background: rgba(0, 0, 0, 0.25);
        padding: 8px;
        border-radius: 8px;
    }
}


.wrapper_cc5dd2 {
    background: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 3px #a6b8ce;

    &::after {
        display: block;
        content: "";
        position: absolute;
        z-index: -1;
        left: -3px;
        top: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        border-radius: 13px;
        background-image: linear-gradient(to bottom, #e3f0ff 0%, #e3f0ff 50%, #586473 100%);
    }

    .childWrapper__6e9f8,
    .circleIcon__5bc7e {
        color: green;
    }
}

.wrapper__6e9f8::after {
    display: block;
    content: "";
    position: absolute;
    z-index: 4;
    width: calc(100%);
    height: calc(100%);
    box-shadow: inset 0px 0px 0px 3px #a6b8ce;
    border-radius: 9px;
}

.icon__6e9f8 {
    scale: calc(35 / 40);
}

.lowerBadge_cc5dd2 {
    rotate: 30deg;
    box-sizing: border-box;
    color: var(--white);
    flex: 0 0 auto;
    background-color: #ea483e;
    aspect-ratio: 1;

    .numberBadge__2b1f5 {
        border-radius: 0px;
        rotate: -30deg;
        background: transparent !important;
        height: 100%;
    }
}

.svg_cc5dd2 foreignObject {
    mask: none !important;
}

button {
    padding: 8px 12px;
    margin: 4px;
    z-index: 2;
    overflow: visible;
    background: #ff9500;
    clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);

}

.form_f75fb0 {
    border: 2px solid #ea483e;
    background: #2e3a3c;
    border-radius: 10px 10px 0px 0px;
    padding: 10px !important;
    margin: 0px 10px;
    border-bottom: 0;
}

.channelTextArea_f75fb0 {
    margin: 0px;
    clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);
    background: #1b2629;
}

.scrollableContainer__74017 {
    background: #1b2629;
}

#app-mount {
    --brand-500: #ff9500;
    --blurple-50: #ff9500;
    /* ------------- */
    --brand-100: color-mix(in oklab, var(--brand-500), white 40%);
    --brand-200: color-mix(in oklab, var(--brand-500), white 30%);
    --brand-300: color-mix(in oklab, var(--brand-500), white 20%);
    --brand-360: color-mix(in oklab, var(--brand-500), white 14%);
    --brand-400: color-mix(in oklab, var(--brand-500), white 10%);
    --brand-600: color-mix(in oklab, var(--brand-500), black 10%);
    --brand-700: color-mix(in oklab, var(--brand-500), black 20%);
    --brand-800: color-mix(in oklab, var(--brand-500), black 30%);
    --brand-900: color-mix(in oklab, var(--brand-500), black 40%);
    --brand-1000: color-mix(in oklab, var(--brand-500), black 50%);
    --blurple-26: var(--brand-200);
}

.container__3f21e {
    width: 34px;
    height: 32px;
    filter: drop-shadow(0px 2px 0px #fff) drop-shadow(0px -2px 0px #fff) drop-shadow(-2px 0px 0px #fff) drop-shadow(2px 0px 0px #fff) drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.2));
    background: transparent !important;
    border-color: transparent !important;

    .input__3f21e,
    .slider__3f21e {
        width: 32px;
        height: 32px;
        clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);
        background: #1c2a2c;
    }

    .slider__3f21e {
        left: -1px !important;
        top: -1px;
        margin: 0px;

        rect {
            display: none;
        }

        svg>path {
            fill: white !important;
        }
    }
}

.checked__3f21e .slider__3f21e {
    background: #EA483E;
}


.standardSidebarView__23e6b {
    width: 1000px;
    height: 800px;
    max-width: 90vw;
    max-height: 90vh;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    background: color-mix(in srgb, #324e50, #38444d);
    border-radius: 10px;
    border: 2px solid white;
    z-index: 10;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.3);
}

.sidebarRegion__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegion__23e6b,
.contentRegionScroller__23e6b {
    background: transparent !important;
    margin-top: 0px !important;
}

.contentRegion__23e6b {
    flex: unset !important;
    width: 100%;
}

.contentColumn__23e6b,
.settingsPage_f131e9,
.accountProfileCard__1fed1 {
    min-width: unset !important;
    max-width: 100%;
    width: 100%;
    flex: unset !important;
}

.toolsContainer__23e6b {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    z-index: 105;
    filter: drop-shadow(0 4px 0 #944500ba);
    background: color-mix(in srgb, #324e50, #38444d);
    border: 2px solid white;
    border-bottom: 0;
    border-left: 0px;

    .tools__23e6b {
        position: relative;
    }


    .closeButton_c2b141 {
        width: 100%;
        border-radius: 0px;
        background: #ff9500;
        clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);
        border: 0px;

        &::after {
            content: attr(aria-label);
            font-size: 20px;
            color: white;
            font-weight: 700;
        }

        svg {
            display: none;
        }
    }

    .keybind_c2b141 {
        display: none;
    }
}

.mask__68edb {
    min-width: unset !important;
    width: 100%;
}

.side_aa8da2 {
    filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.5));
    gap: 6px;

    .item_aa8da2 {
        padding: 10px 20px !important;
        clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);
        background: #ea483e !important;
        color: white;
    }
}

:root {
    --font-primary: m6x11plus;
    --font-header: m6x11plus;
    --font-display: m6x11plus;
}

.markup__75297,
.name__20a53,
.item_aa8da2,
.name__2ea32,
.name_f37cb1 {
    font-size: 20px;
}

.placeholder__1b31f,
.subText__20a53 .activityStatusText__37e49,
.button__201d5,
.text-md\/medium_cf4812,
.name__703b9,
.username_c19a55,
.repliedMessage_c19a55 {
    font-size: 18px;
}

.panelTitleContainer__37e49 .title_b6c092,
.legend__7fb92 {
    font-size: 24px;
}

.subtext__339d0,
.activityStatusText__37e49,
.numberBadge__2b1f5,
.text__3b95d,
#placeholder-46k6b {
    font-size: 16px;
}

.heading-xl\/semibold_cf4812 {
    font-size: 30px;
}



.bannerVisible_f37cb1 .header_f37cb1 .headerContent_f37cb1 {
    backdrop-filter: blur(200px) brightness(1.5) saturate(2);
}


.header_f37cb1 {
    padding: 8px !important;

    .headerContent_f37cb1 {
        background: #00000013;
        backdrop-filter: brightness(2) saturate(2);
        filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.3)) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
        padding: 4px !important;
        clip-path: polygon(0px calc(100% - 12px), 3px calc(100% - 12px), 3px calc(100% - 6px), 6px calc(100% - 6px), 6px calc(100% - 3px), 12px calc(100% - 3px), 12px 100%, calc(100% - 12px) 100%, calc(100% - 12px) calc(100% - 3px), calc(100% - 6px) calc(100% - 3px), calc(100% - 6px) calc(100% - 6px), calc(100% - 3px) calc(100% - 6px), calc(100% - 3px) calc(100% - 12px), 100% calc(100% - 12px), 100% 12px, calc(100% - 3px) 12px, calc(100% - 3px) 6px, calc(100% - 6px) 6px, calc(100% - 6px) 3px, calc(100% - 12px) 3px, calc(100% - 12px) 0px, 12px 0px, 12px 3px, 6px 3px, 6px 6px, 3px 6px, 3px 12px, 0px 12px);
        border-bottom: 4px solid rgba(0, 0, 0, 0.2);

        >div {
            display: none;
        }

    }
}

.name_f37cb1 {
    margin-left: auto;
}

.headerEllipseBackdrop_f37cb1,
.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1 {
    display: none;
}

.mention,
.channelMention,
.roleMention__75297 {
    color: white;
    padding: 1px 4px;
}

.channelMention {
    background: #008ff0;
}

.mention {
    background: #ea483e;
}

.noticeRegion__23e6b {
    margin-bottom: 78px;
    width: 100%;
}

.roleMention__75297 {
    background: currentColor !important;

    >span {
        color: white;
    }
}